<h4>Edit Rocket</h4>
<hr />
<div class="row text-right">
  <div class="col">
    <button routerLink="/rocketList" class="btn btn-danger">
      <i class="fa fa-arrow-left"> Back</i>
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="Update()">
      <div class="form-group">
        <label>Country of manufacture:</label>
        <input type="text" formControlName="countryOfManufacture" class="form-control" />
        <small *ngIf="CountryNoValid" class="text-danger">Country of manufacture is required</small>
      </div>

      <div class="form-group">
        <label>Number of engines:</label>
        <input type="text" formControlName="numberEngines" class="form-control" />
        <small *ngIf="EngineNoValid" class="text-danger">Number of engines are required</small>
      </div>

      <hr />
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Update
        </button>
      </div>
    </form>
  </div>
</div>